<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2>Locations:</h2>

<table border="1">
<tr>
<th>Id</th>
<th>Code</th>
<th>Name</th>
<th>Type</th>
<th>Delete</th>
<th>Edit</th>
</tr>

<tr th:each="location:${locations}">
<td th:text="${location.id}"></td>
<td th:text="${location.code}"></td>
<td th:text="${location.name}" ></td>
<td th:text="${location.type}"></td> 
<td><a th:href="@{'deletelocation?id='+${location.id}}">Delete</a></td>
<td><a th:href="@{'showUpdate?id='+${location.id}}">Edit</a></td>
</tr>
</c:forEach>
</table>
<a href="sc">Add Location</a>
</body>
</html>